<!DOCTYPE html>
<html>
<head>
	<title>Credit Report</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container" style="border: 2px solid grey">

			<table class="table">
				<thead>
					<tr>
						<th style="font-size: 30px;">Udhaar Sudhaar</th>
						<th style="text-align: right;">Powered by EQUIFAX</th>
					</tr>


					<tr>
						<th>CLIENT ID: <%= user.first_name %><br> REPORT ORDER NO.: <%= scores.ReportOrderNO %><br> REFERENCE NUMBER: </th>
						<th></th>
						<th>DATE: <br> TIME:</th>
					</tr>
				</thead>
					</table>

				<table class="table">
					<thead>
						<th>Consumer Name: <%= idandcontactinfos.PersonalInfo.Name.FirstName %> <%= idandcontactinfos.PersonalInfo.Name.LastName %>  </th>
					</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>PERSONAL INFORMATION</th>
						<th>IDENTIFICATION</th>
						<th>CONTACT DETAILS</th>
					</tr>
				</thead>

				<tbody>
					<tr >
						<td>
							Previous Name : <%= idandcontactinfos.PersonalInfo.Name.FirstName %> <%= idandcontactinfos.PersonalInfo.Name.LastName %><br>
							Alias Name : <%= idandcontactinfos.PersonalInfo.Name.FirstName %> <%= idandcontactinfos.PersonalInfo.Name.LastName %> <br>
							DOB : <%= idandcontactinfos.PersonalInfo.DateOfBirth %> <br>
							Age : <%= idandcontactinfos.PersonalInfo.Age %><br>
							Gender: <%= idandcontactinfos.PersonalInfo.Gender %><br>
							Total Income : <%= idandcontactinfos.PersonalInfo.TotalIncome %> <br>
							Occupation :<%= idandcontactinfos.PersonalInfo.Occupation %>
						</td>

						<td>
							PAN : <%= idandcontactinfos.IdentityInfo.PANId.IdNumber %> <br>
							Voter ID :  <br>
							Passport ID : <%= idandcontactinfos.IdentityInfo.PassportID.IdNumber %> <br>
							UID : <br>
							Driver's License : <br>
							Ration Card : <br>
							Photo Credit Card : <br>
							ID - Other : <br>
						</td>

						<td>
							Home: <br>
							Office: <br>
							Mobile: <br>
							Alt. Home/Other No. : <br>
							Alt. Office : <br>
							Alt. Mobile : <br>
							Email :
						</td>
					</tr>
				</tbody>
				</table>


				<table class="table">
				<thead>
					<th>Consumer Address:</th>
					<th></th>
					<th></th>
				</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Type</th>
						<th>Address</th>
						<th>State</th>
						<th>Postal</th>
						<th>Date reported</th>
					</tr>
				</thead>

				<!-- for(var i=0; i<=address.length; i++){ -->
				<tbody>
						<tr>
							
						</tr>

				</tbody>
			<!-- } -->
				</table>


				<table class="table">
			<thead>
				<tr>
					<th>Equifax Score:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

			<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Score Name</th>
						<th>Score</th>
						<th>Scoring Elements</th>
					</tr>
				</thead>

			<tbody>
						<tr>
							<td><%= scores.Name %></td>
							<td><%= scores.Value %></td>
							<td>
								<%for (var y=0; y< scoringelements.items.length;y++){ %>
								<%= scoringelements.items[y].Description %><br>
								<% } %>
							</td>
						</tr>
				</tbody>



			<table class="table">
				<thead>
				<tr>
					<th>Recent Activity:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>


				<thead>
					<tr style="background-color: #154360; color: white;">
						<th></th>
						<th></th>
						<th>Recent Activity (Last 90 days)</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Total Inquiries : <%= recentactivities.TotalInquiries %></td>
						<td>Accounts Opened : <%= recentactivities.AccountsOpened %></td>
						<td>Accounts Updated : <%= recentactivities.AccountsUpdated %></td>
						<td>Accounts Delinquent : <%= recentactivities.AccountsDeliquent %></td>
					</tr>
				</tbody>
			</table>



			<table class="table">
				<thead>
				<tr>
					<th>Profile and Performance :</th>
					<th></th>
					<th></th>
				</tr>
			</thead>


				<thead>
					<tr style="background-color: #154360; color: white;">
						<th></th>
						<th style="text-align: center;">Credit Profile and Performance</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Credit Utilization : </td>
						<td>Credit Mix : </td>
						<td>Number of Inquiries : </td>
					</tr>
				</tbody>
			</table>


			<table class="table">
				<thead>
				<tr>
					<th>Summary :</th>
					<th></th>
					<th></th>
				</tr>
			</thead>


				<thead>
					<tr style="background-color: #154360; color: white;">
						<th></th>
						<th style="text-align: center;">Credit Report Summary</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Number of Accounts : <%= accountsummaries.NoOfAccounts %><br>
							Number of Open Accounts : <%= accountsummaries.NoOfActiveAccounts %><br>
							Number of Past Due Accounts : <%= accountsummaries.NoOfPastDueAccounts %><br>
							Number of Write-off Accounts : <%= accountsummaries.NoOfWriteOffs %><br>
							Number of Zero Balance Accounts : <%= accountsummaries.NoOfZeroBalanceAccounts %><br>
							Most Severe Status < 24 Months : <%= accountsummaries.MostSevereStatusWithIn24Months %> <br>
						</td>
						<td>Total Balance Amount : <%= accountsummaries.TotalBalanceAmount %> <br>
							Total Past Due Amount : <%= accountsummaries.TotalPastDue %><br>
							Total High Credit : <%= accountsummaries.TotalHighCredit %><br>
							Total Sanction Amount : <%= accountsummaries.TotalSanctionAmount %><br>
							Total Monthly Payment Amount : <%= accountsummaries.TotalMonthlyPaymentAmount %><br>
							Average Open Balance : <%= accountsummaries.AverageOpenBalance %>

						</td>
						<td>Recent Account :<%= accountsummaries.RecentAccount %> <br>
							Oldest Account : <%= accountsummaries.OldestAccount %><br>
							Total Credit Limit : <%= accountsummaries.TotalCreditLimit %><br>
							Single Highest Credit : <%= accountsummaries.SingleHighestCredit %><br>
							Single Highest Sanction Amount : <%= accountsummaries.SingleHighestSanctionAmount %><br>
							Single Highest Balance : <%= accountsummaries.SingleHighestBalance %>

						 </td>
					</tr>
				</tbody>
			</table>


			<table class="table">
				<thead>
				<tr>
					<th>Account Details :</th>
					<th></th>
					<th></th>
				</tr>
			</thead>


				<thead>
					<tr style="background-color: #154360; color: white;">
						<th></th>
						<th style="text-align: center;">Accounts</th>
						<th></th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<%for (var y=0; y< accountdetails.Account.length;y++){ %>

						<td>Acct No.: <%= accountdetails.Account[y].AccountNumber %><br>
							Institution : <%= accountdetails.Account[y].Institution %><br>
							Number of Past Due Accounts : <br>
							Type : <%= accountdetails.Account[y].AccountType %><br>
							Ownership Type : <%= accountdetails.Account[y].AccountNumber %><br>

						</td>
						<td>Balance : <%= accountdetails.Account[y].Balance %><br>
							Past Due Amount: <%= accountdetails.Account[y].PastDueAmount %><br>
							Last Payment : <br>
							Write-off Amount: <br>

						</td>
						<td>Open:  <%= accountdetails.Account[y].Open %><br>
							Interest Rate: 	<%= accountdetails.Account[y].InterestRate %><br>
							Last Payment Date: <%= accountdetails.Account[y].LastPaymentDate %><br>
							High Credit: <%= accountdetails.Account[y].HighCredit %><br>

						 </td>

						 <td>Date Reported: <%= accountdetails.Account[y].DateReported %><br>
							 Date Opened: <%= accountdetails.Account[y].DateOpened %><br>
							 Date Closed: <br>
							 Reason: <%= accountdetails.Account[y].Reason %><br>

						 </td>

						 <% } %>
					</tr>
				</tbody>


					<tbody>
					<tr>
						<%for (var y=0; y< accountdetails.Account.length;y++){ %>
						<td>Repayment Tenure: <%= accountdetails.Account[y].RepaymentTenure %><br>
							Dispute Code: <%= accountdetails.Account[y].DisputeCode %> <br>
							Number of Past Due Accounts :<br>

						</td>
						<td>Monthly Payment Amount : <br>
							Term Frequency: <%= accountdetails.Account[y].TermFrequency %>  <br>

						</td>
						<td>Credit Limit: <%= accountdetails.Account[y].CreditLimit %> <br>
						 </td>

						 <td>Collateral Value: <%= accountdetails.Account[y].CollateralValue %><br>
							 Collateral Type: <%= accountdetails.Account[y].CollateralType %><br>
						 </td>
						 <% } %>
					</tr>
				</tbody>

					<tbody>
					<tr>
						<%for (var y=0; y< accountdetails.Account.length;y++){ %>
						<td>

							Account status: <%= accountdetails.Account[y].AccountStatus %> <br>
							Asset Classification: <%= accountdetails.Account[y].AssetClassification %><br>
							Suit Filed Status: <%= accountdetails.Account[y].SuitFiledStatus %><br>

						</td>
						<% } %>
						<td></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>

				<tbody>
					<tr>
						<td><u>History</u><br>
							Account status: <br>
							Asset Classification:<br>
							Suit Filed Status:<br>

						</td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>


				<tbody>


				</tbody>


			</table>



			<table class="table">
				<thead>
				<tr>
					<th>Enquiry Summary:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Purpose</th>
						<th>Total</th>
						<th> Past 30 Days</th>
						<th>Past 12 Months</th>
						<th> Past 24 Months</th>
						<th>Recent</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td><%= enquirysummaries.Purpose %> </td>
						<td><%= enquirysummaries.Total %> </td>
						<td><%= enquirysummaries.Past30Days %></td>
						<td><%= enquirysummaries.Past12Months %></td>
						<td><%= enquirysummaries.Past24Months %></td>
						<td><%= enquirysummaries.Recent %></td>
					</tr>
				</tbody>
			</table>


			<table class="table">
				<thead>
				<tr>
					<th>Enquiries:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Institution</th>
						<th>Date</th>
						<th>Time</th>
						<th>Purpose</th>
						<th>Amount</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td> </td>
						<td> </td>
						<td></td>
						<td></td>
						<td></td>

					</tr>
				</tbody>
			</table>


			<table class="table">
				<thead>
				<tr>
					<th>Consumer Registered Disputes :</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Dispute Type</th>
						<th>Reason for Dispute</th>
						<th>Account Number</th>
						<th>Dispute raised date</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td> </td>
						<td> </td>
						<td></td>
						<td></td>

					</tr>
				</tbody>
			</table>


			<!-- <table class="table">
				<thead>
				<tr>
					<th>Input Enquiry:</th>
					<th></th>
					<th></th>
				</tr>
			</thead>

				<thead>
					<tr style="background-color: #154360; color: white;">
						<th>Personal & Account Information</th>
						<th>ID & Phone Numbers</th>
						<th>Contact Details</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Consumer’s First Name : <br>
							DOB : <br>
							Gender : <br>
							Inquiry / Request Purpose : <br>
							Transaction Amount: <br>
							Inquiry Account 1: <br>
							Inquiry Account 2: <br>
							Inquiry Account 3: <br>
							Inquiry Account 4: <br>
						</td>
						<td>PAN: <br>
							Voter ID:<br>
							Passport ID:<br>
							UID:<br>
							Driver's License:<br>
							Home Phone :<br>
							Mobile Phone : <br>
							Other Phone :
						</td>
						<td>Address Information 1: <br>
							Address : <br>
							State : <br>
							Postal : <br>
							Address Information 2: <br>
							Address :<br>
							State :<br>
							Postal :<br>
							Address Information 3:<br>
							Address :<br>
							State :<br>
							Postal :
						</td>


					</tr>
				</tbody>
			</table> -->

	</div>
</body>
</html>
